<!DOCTYPE html>
<html lang="en">
<head>
<title>Gynecology</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Free Web tutorials">
<meta name="keywords" content="HTML, CSS, JavaScript">
<meta name="author" content="John Doe">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
</head>
<body>

    <header class="header">
        <div class="toggle"><img src="assets/images/toggle.svg"></div>
        <div class="logo"><img src="assets/images/logo.png"></div>
        <div class="user"><a href="settings.html"><img src="assets/images/user-profile.svg"></a></div>
    </header>

    <sidebar class="sidebar">
        <ul>
            <li><a href="dashboard.html"><span><img src="assets/images/home.svg" /></span> Home</a></li>
            <li><a href="meeting-history.html"><span><img src="assets/images/meeting.svg" /></span> Meeting History</a></li>
            <li><a href="my-menu-plans.html"><span><img src="assets/images/menu-plans.svg" /></span> My Menu Plans</a></li>
            <li><a href="settings.html"><span><img src="assets/images/settings.svg" /></span> Settings</a></li>
        </ul>
    </sidebar>

    <section class="display_section">
        <div class="main-section">
            <div class="row">
                
                <div class="col-sm-12 headline-topbar mt-4 mb-3">
                    <div class="row align-items-center">
                        <div class="col-md-12 left_part">
                            <h1>Moderate-Intensity Exercise Plan</h1>
                            <h6>Check some key points and full detail </h6>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 divider"><hr /></div>
              
                <div class="col-sm-5 col-md-5 col-lg-4 mt-3 mb-3">
                    <div class="key_points_title mb-3">Key Points</div>
                    <div class="shadow-block left-border light-content mb-3">At your first prenatal care checkup, ask your health care provider whether exercise during pregnancy is safe for you.</div>
                    <div class="shadow-block left-border light-content mb-3">Healthy pregnant women need at least 2½ hours of aerobic activity, such as walking or swimming, each week.</div>
                    <div class="shadow-block left-border light-content mb-3">Regular physical activity can help reduce your risk of pregnancy complications and ease pregnancy discomforts, like back pain.</div>
                    <div class="shadow-block left-border light-content mb-3">Some activities, such as basketball, hot yoga, downhill skiing, horseback riding and scuba diving, aren't safe during pregnancy.</div>
                </div>

                <div class="col-sm-7 col-md-7 col-lg-8 mt-3 mb-3">
                    <div class="detail-title mb-3">Is it safe to exercise during pregnancy?</div>
                    <div class="detail_content">
                        <p>Talk to your health care provider about exercising during pregnancy. For most pregnant women, exercising is safe and healthy for you and your baby. </p>
                        <p>If you and your pregnancy are healthy, exercise won't increase your risk of having a miscarriage (when a baby dies in the womb before 20 weeks of pregnancy), a premature baby (born before 37 weeks of pregnancy) or a baby born with low birthweight (less than 5 pounds, 8 ounces). </p>
                    </div>
                    <div class="detail-title mb-3">How much exercise do you need during pregnancy?</div>
                    <div class="detail_content">
                        <p>Healthy pregnant women need at least 2½ hours of moderate-intensity aerobic activity each week. Aerobic activities make you breathe faster and deeply and make your heart beat faster. Moderate-intensity means you're active enough to sweat and increase your heart rate. Taking a brisk walk is an example of moderate-intensity aerobic activity. If you can't talk normally during an activity, you may be working too hard.</p>
                        <p>You don't have to do all 2½ hours at once. Instead, break it up through the week. For example, do 30 minutes of exercise on most or all days. If this sounds like a lot, split up the 30 minutes by doing something active for 10 minutes 3 times each day.</p>
                    </div>
                    <div class="detail-title mb-3">Why is physical activity during pregnancy good for you?</div>
                    <div class="detail_content">
                        <p>For healthy pregnant women, regular exercise can:</p>
                        <ul>
                            <li>Keep your mind and body healthy. Physical activity can help you feel good and give you extra energy. It also makes your heart, lungs and blood vessels strong and helps you stay fit.</li>
                            <li>Help you gain the right amount of weight during pregnancy</li>
                            <li>Ease some common discomforts of pregnancy, such as constipation, back pain and swelling in your legs, ankles and feet</li>
                            <li>Help you manage stress and sleep better. Stress is worry, strain or pressure that you feel in response to things that happen in your life.</li>
                            <li>Help reduce your risk of having a cesarean birth (also called c-section). Cesarean birth is surgery in which your baby is born through a cut that your doctor makes in your belly and uterus.</li>
                        </ul>
                    </div>
                    <div class="detail-title mb-3">What kinds of activities are safe during pregnancy?</div>
                    <div class="detail_content">
                        <p>If you're healthy and you exercised before you got pregnant, it's usually safe to continue your activities during pregnancy. Check with your provider to be sure. For example, if you’re a runner or a tennis player or you do other kinds of intense exercise, you may be able to keep doing your workouts when you're pregnant. As your belly gets bigger later in pregnancy, you may need to change some activities or ease up on your workouts.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>